

    /* contact
    */
.contact
{
	padding-top: 106px;
	padding-bottom: 117px;
}
.contact_title
{
	font-size: 36px;
	font-weight: 500;
	color: #1a1a1a;
}
.contact_form_container
{
	margin-top: 70px;
}
.input_field
{
	width: 100%;
	background: #f8f4f4;
	border: solid 2px transparent;
	margin-bottom: 24px;
	height: 42px;
	padding-left: 33px;
}
.input_field:focus
{
	outline: none !important;
	border-color: #0990ff;
}
.text_field
{
	width: 100%;
	height: 189px;
	background: #f8f4f4;
	border: solid 2px transparent;
	padding-left: 33px;
	margin-bottom: 24px;
}
.text_field:focus
{
	outline: none !important;
	border-color: #0990ff;
}
.contact_send_btn
{
	width: 100%;
	height: 48px;
	background: #0990ff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}
.contact_send_btn:focus
{
	outline: solid 1px #0990ff;
	border: green !important;
}
/*********************************
10. About
*********************************/

.about_title
{
	font-size: 36px;
	font-weight: 500;
	color: #1a1a1a;
}
.about_text
{
	margin-top: 20px;
}
.contact_info
{
	margin-top: 64px;
	padding-left: 46px;
}
.contact_info_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.contact_info_item:last-child
{
	margin-bottom: 0px;
}
.contact_info_icon
{
  color: #0990ff;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.contact_info_icon img
{
	width: 100%;
}
/*google map */
#google_map
{
	width: 100%;
	height: 532px;
	margin-top: 117px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}


html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}

.img{
  width: 200px;  
  height: auto;  
  text-align: center;  
  padding: 15px;  
  border: 3px solid #0990ff;  
}
.ms-1 {
  opacity: 100%;
  margin-left: 0.25rem!important;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.opacit{
  opacity: 75%;
}


#pgc-2116-0-0 {
  width: 100%;
  width: calc(100% - ( 0 * 30px))
}

#pl-2116 .so-panel,
#pl-2116 .so-panel:last-of-type {
  margin-bottom: 0px
}


/*alumni story*/
.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }

}


/*jop list*/


:root {
  --geeks-body-bg: #f1f5f9;
  --geeks-body-color: #64748b;
  --geeks-headings-color: #1e293b;
  --geeks-navbar-vertical-bg: #fff;
  --geeks-navbar-bg: #fff;
  --geeks-card-background: #fff;
  --geeks-input-bg: #fff;
  --geeks-input-disabled-bg: #e2e8f0;
  --geeks-input-focus-border: #baa7ff;
  --geeks-input-border: #cbd5e1;
  --geeks-input-placeholder-color: #64748b;
  --geeks-input-focus-box-shadow: 0px 0px 0px 3px rgba(231, 225, 253, .75);
  --geeks-input-check-border: var(--geeks-input-border);
  --geeks-input-group-addon-bg: #e2e8f0;
  --geeks-form-text-color: #94a3b8;
  --geeks-form-label-color: #334155;
  --geeks-border-color: #e2e8f0;
  --geeks-dropdown-background: #fff;
  --geeks-dropdown-link-color: #0f172a;
  --geeks-dropdown-link-hover-color: #0e1526;
  --geeks-dropdown-link-hover-bg: #f1f5f9;
  --geeks-dropdown-border-width: 0px;
  --geeks-dropdown-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
  --geeks-modal-bg: #f1f5f9;
  --geeks-progress-background: #cbd5e1;
  --geeks-btn-ghost-bg: #cbd5e1;
  --geeks-tagify-border-color: #cbd5e1;
  --geeks-navbar-vertical-bg: #1e293b;
  --geeks-navbar-vertical-link: #94a3b8;
  --geeks-navbar-vertical-link-hover: #cbd5e1
}
.op{
  color: #0e1526;
  opacity: 75%;
  }

.card-body {
    color: var(--geeks-card-color);
    flex: 1 1 auto;
    padding: var(--geeks-card-spacer-y) var(--geeks-card-spacer-x);
}
.card {
  --geeks-card-spacer-y: 1.5rem;
  --geeks-card-spacer-x: 1.5rem;
  --geeks-card-title-spacer-y: 0.5rem;
  --geeks-card-border-width: 1px;
  --geeks-card-border-color: var(--geeks-border-color);
  --geeks-card-border-radius: 0.5rem;
  --geeks-card-box-shadow: ;
  --geeks-card-inner-border-radius: calc(0.5rem - 1px);
  --geeks-card-cap-padding-y: 1rem;
  --geeks-card-cap-padding-x: 1.5rem;
  --geeks-card-cap-bg: var(--geeks-card-background);
  --geeks-card-cap-color: ;
  --geeks-card-height: ;
  --geeks-card-color: ;
  --geeks-card-bg: var(--geeks-card-background);
  --geeks-card-img-overlay-padding: 1rem;
  --geeks-card-group-margin: 0.75rem;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--geeks-card-bg);
  border: var(--geeks-card-border-width) solid var(--geeks-card-border-color);
  border-radius: var(--geeks-card-border-radius);
  display: flex;
  flex-direction: column;
  height: var(--geeks-card-height);
  min-width: 0;
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}
.row {
  --geeks-gutter-x: 1.5rem;
  --geeks-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--geeks-gutter-x)*-.5);
  margin-right: calc(var(--geeks-gutter-x)*-.5);
  margin-top: calc(var(--geeks-gutter-y)*-1);
}


.img-4by3-xxl {
  width: 9rem
}

.img-4by3-xl {
  width: 7.75rem
}

.img-4by3-lg {
  width: 6.5rem
}

.img-4by3-md {
  width: 5.25rem
}

.img-4by3-sm {
  width: 4rem
}

.img-4by3-xs {
  width: 2.75rem
}

.btn-play {
  background-color: var(--geeks-white);
  color: var(--geeks-primary);
  transition: .2s ease
}

.btn-play:hover {
  background-color: var(--geeks-primary);
  color: var(--geeks-white);
  transition: .2s ease
}

.btn-xs {
  font-size: .75rem;
  padding: .22rem .75rem
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  font-size: .92969rem;
  font-weight: 400;
  height: 2.5rem;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 2.5rem
}

.btn-icon.btn-xs {
  font-size: .75rem;
  height: 1.53125rem;
  width: 1.53125rem
}

.btn-group-sm>.btn-icon.btn,
.btn-icon.btn-sm {
  font-size: .875rem;
  height: 2.1875rem;
  width: 2.1875rem
}

.btn-group-lg>.btn-icon.btn,
.btn-icon.btn-lg {
  font-size: 1rem;
  height: 3.36875rem;
  width: 3.36875rem
}

.dropdown.active.show .btn-icon {
  background-color: #ede9fe;
  color: var(--geeks-primary) !important
}

.primary-hover:focus,
.primary-hover:hover {
  background-color: var(--geeks-primary);
  border: var(--geeks-primary);
  color: var(--geeks-white)
}

.primary-hover:focus {
  box-shadow: 0 0 0 .2rem rgba(129, 97, 244, .5)
}

.primary-hover.active {
  background-color: var(--geeks-primary);
  border: var(--geeks-primary);
  color: var(--geeks-white)
}

.btn.btn-focus-none:focus {
  box-shadow: none
}

.btn-link {
  color: var(--geeks-link-color);
  font-weight: 600;
  text-decoration: underline
}

.btn-link:hover {
  color: var(--geeks-link-hover-color)
}

.btn-link:focus,
.btn-link:hover {
  text-decoration: underline
}



.btn-dashed {
  border-style: dashed !important
}

.btn-dashed:hover {
  border-color: var(--geeks-primary) !important;
  color: var(--geeks-primary) !important
}

.btn-dashed:focus {
  box-shadow: none !important
}



.form-check-input:checked {
    background-color: #754ffe;
    border-color: #754ffe;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.7em;
}
.form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--geeks-input-bg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #0ea5e9;
    height: 1.2em;
    margin-top: 0.2em;
    print-color-adjust: exact;
    vertical-align: top;
    width: 1.2em;
}




.border-secondary {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-secondary-rgb), var(--geeks-border-opacity)) !important
}

.border-success {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-success-rgb), var(--geeks-border-opacity)) !important
}

.border-info {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-info-rgb), var(--geeks-border-opacity)) !important
}

.border-warning {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-warning-rgb), var(--geeks-border-opacity)) !important
}

.border-danger {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-danger-rgb), var(--geeks-border-opacity)) !important
}

.border-light {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-rgb), var(--geeks-border-opacity)) !important
}

.border-dark {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-rgb), var(--geeks-border-opacity)) !important
}

.border-white {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-white-rgb), var(--geeks-border-opacity)) !important
}

.border-light-primary {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-primary-rgb), var(--geeks-border-opacity)) !important
}

.border-light-danger {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-danger-rgb), var(--geeks-border-opacity)) !important
}

.border-light-info {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-info-rgb), var(--geeks-border-opacity)) !important
}

.border-light-warning {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-warning-rgb), var(--geeks-border-opacity)) !important
}

.border-light-secondary {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-secondary-rgb), var(--geeks-border-opacity)) !important
}

.border-light-success {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-success-rgb), var(--geeks-border-opacity)) !important
}

.border-light-dark {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-light-dark-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-primary {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-primary-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-warning {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-warning-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-info {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-info-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-danger {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-danger-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-success {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-success-rgb), var(--geeks-border-opacity)) !important
}

.border-dark-secondary {
    --geeks-border-opacity: 1;
    border-color: rgba(var(--geeks-dark-secondary-rgb), var(--geeks-border-opacity)) !important
}

.fw-semibold {
    font-weight: 600 !important
}

.text-white {
    color: rgba(var(--geeks-white-rgb), var(--geeks-text-opacity)) !important
}

.text-body {
    color: rgba(var(--geeks-body-color-rgb), var(--geeks-text-opacity)) !important
}

.bg-primary {
    background-color: rgba(var(--geeks-primary-rgb), var(--geeks-bg-opacity)) !important
}

.bg-secondary {
    background-color: rgba(var(--geeks-secondary-rgb), var(--geeks-bg-opacity)) !important
}

.bg-success {
    background-color: rgba(var(--geeks-success-rgb), var(--geeks-bg-opacity)) !important
}

.bg-info {
    background-color: rgba(var(--geeks-info-rgb), var(--geeks-bg-opacity)) !important
}

.bg-warning {
    background-color: rgba(var(--geeks-warning-rgb), var(--geeks-bg-opacity)) !important
}

.bg-danger {
    background-color: rgba(var(--geeks-danger-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light {
    background-color: rgba(var(--geeks-light-rgb), var(--geeks-bg-opacity)) !important
}

.bg-dark {
    background-color: rgba(var(--geeks-dark-rgb), var(--geeks-bg-opacity)) !important
}

.bg-white {
    background-color: rgba(var(--geeks-white-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-primary {
    background-color: rgba(var(--geeks-light-primary-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-danger {
    background-color: rgba(var(--geeks-light-danger-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-info {
    background-color: rgba(var(--geeks-light-info-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-warning {
    background-color: rgba(var(--geeks-light-warning-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-secondary {
    background-color: rgba(var(--geeks-light-secondary-rgb), var(--geeks-bg-opacity)) !important
}

.bg-light-success {
    background-color: rgba(var(--geeks-light-success-rgb), var(--geeks-bg-opacity)) !important
}

/*
profile section 
 */

:root {
    --geeks-blue: #0d6efd;
    --geeks-indigo: #6610f2;
    --geeks-purple: #6f42c1;
    --geeks-pink: #d63384;
    --geeks-red: #dc3545;
    --geeks-orange: #fd7e14;
    --geeks-yellow: #ffc107;
    --geeks-green: #198754;
    --geeks-teal: #20c997;
    --geeks-cyan: #0dcaf0;
    --geeks-black: #000;
    --geeks-gray: #475569;
    --geeks-gray-dark: #1e293b;
    --geeks-gray-black: #000;
    --geeks-gray-100: #f1f5f9;
    --geeks-gray-200: #e2e8f0;
    --geeks-gray-300: #cbd5e1;
    --geeks-gray-400: #94a3b8;
    --geeks-gray-500: #64748b;
    --geeks-gray-600: #475569;
    --geeks-gray-700: #334155;
    --geeks-gray-800: #1e293b;
    --geeks-gray-900: #0f172a;
    --geeks-gray-1000: #0b1324;
    --geeks-gray-white: #fff;
    --geeks-primary: #754ffe;
    --geeks-secondary: #64748b;
    --geeks-success: #38a169;
    --geeks-info: #0ea5e9;
    --geeks-warning: #f59e0b;
    --geeks-danger: #dc2626;
    --geeks-light: #f1f5f9;
    --geeks-dark: #0f172a;
    --geeks-white: #fff;
    --geeks-light-primary: #ede9fe;
    --geeks-light-danger: #fad9d8;
    --geeks-light-info: #e1f6ff;
    --geeks-light-warning: #ffeeda;
    --geeks-light-secondary: #e4e3e9;
    --geeks-light-success: #d1f5ea;
    --geeks-light-dark: #d1cfd8;
    --geeks-dark-primary: #593cc1;
    --geeks-dark-warning: #c28135;
    --geeks-dark-info: #51a0c2;
    --geeks-dark-danger: #ae302e;
    --geeks-dark-success: #139a74;
    --geeks-dark-secondary: #5c596d;
    --geeks-primary-rgb: 117, 79, 254;
    --geeks-secondary-rgb: 100, 116, 139;
    --geeks-success-rgb: 56, 161, 105;
    --geeks-info-rgb: 14, 165, 233;
    --geeks-warning-rgb: 245, 158, 11;
    --geeks-danger-rgb: 220, 38, 38;
    --geeks-light-rgb: 241, 245, 249;
    --geeks-dark-rgb: 15, 23, 42;
    --geeks-light-primary-rgb: 237, 233, 254;
    --geeks-light-danger-rgb: 250, 217, 216;
    --geeks-light-info-rgb: 225, 246, 255;
    --geeks-light-warning-rgb: 255, 238, 218;
    --geeks-light-secondary-rgb: 228, 227, 233;
    --geeks-light-success-rgb: 209, 245, 234;
    --geeks-light-dark-rgb: 209, 207, 216;
    --geeks-dark-primary-rgb: 89, 60, 193;
    --geeks-dark-warning-rgb: 194, 129, 53;
    --geeks-dark-info-rgb: 81, 160, 194;
    --geeks-dark-danger-rgb: 174, 48, 46;
    --geeks-dark-success-rgb: 19, 154, 116;
    --geeks-dark-secondary-rgb: 92, 89, 109;
    --geeks-white-rgb: 255, 255, 255;
    --geeks-black-rgb: 0, 0, 0;
    --geeks-body-color-rgb: 100, 116, 139;
    --geeks-body-bg-rgb: 241, 245, 249;
    --geeks-font-sans-serif: "Inter", "sans-serif";
    --geeks-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --geeks-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    --geeks-body-font-family: Inter, sans-serif;
    --geeks-body-font-size: 0.875rem;
    --geeks-body-font-weight: 400;
    --geeks-body-line-height: 1.6;
    --geeks-border-width: 1px;
    --geeks-border-style: solid;
    --geeks-border-color: var(--geeks-border-color);
    --geeks-border-color-translucent: #cbd5e1;
    --geeks-border-radius: 0.375rem;
    --geeks-border-radius-sm: 0.25rem;
    --geeks-border-radius-lg: 0.5rem;
    --geeks-border-radius-xl: 2rem;
    --geeks-border-radius-2xl: 2rem;
    --geeks-border-radius-pill: 50rem;
    --geeks-link-color: #754ffe;
    --geeks-link-hover-color: #5e3fcb;
    --geeks-code-color: #d63384;
    --geeks-highlight-bg: #fff3cd
}
.backcolores {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--geeks-body-bg);
    color: var(--geeks-body-color);
    font-family: var(--geeks-body-font-family);
    font-size: var(--geeks-body-font-size);
    font-weight: var(--geeks-body-font-weight);
    line-height: var(--geeks-body-line-height);
    margin: 0;
    text-align: var(--geeks-body-text-align)
}
.heds {
    color: var(--geeks-headings-color);
    font-family: Inter, "sans-serif";
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: 0
}
.hed4 {
    font-size: 1rem
}
a {
    color: var(--geeks-link-color);
    text-decoration: none
}
a:hover {
    color: var(--geeks-link-hover-color)
}
.px-23 {
    padding-left: 14rem !important;
    padding-right: 14rem !important
}
.py-20 {
    padding-bottom: 9.5rem !important;
    padding-top: 9.5rem !important
}
.text-muted {
    --geeks-text-opacity: 1;
    color: #64748b !important
} 
.avatar-xxl {
    height: 7.5rem;
    width: 7.5rem
}
/* gallary section*/
.hero {
  padding: 80px 0;
}
.hero h2 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6;
}

.gallery__section {
  padding: 0 5px;
  overflow: hidden;
}

.filter-controls {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.filter-controls ul {
  list-style: none;
}

.filter-controls ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0 6px;
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  color: #B7B7B7;
  cursor: pointer;
  font-family: "Aldrich", sans-serif;
}

.filter-controls ul li:after {
  position: absolute;
  content: "•";
  font-family: "Aldrich", sans-serif;
  font-size: 14px;
  color: #B7B7B7;
  right: -19px;
}

.filter-controls ul li:before {
  position: absolute;
  content: "";
  width: 0;
  height: 6px;
  left: 0;
  bottom: 4px;
  background: #0ECE91;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.filter-controls ul li:hover,
.filter-controls ul li.active {
  color: #111111;
}

.filter-controls ul li:hover:before,
.filter-controls ul li.active:before {
  width: 100%;
}

.filter-controls ul li:first-child {
  margin-left: 0;
}

.filter-controls ul li:last-child {
  margin-right: 0;
}

.filter-controls ul li:last-child:after {
  display: none;
}

.gallery__warp {
  overflow: hidden;
}

.grid__item {
  display: block;
  width: 25%;
  padding: 0 5px;
  float: left;
}

.gallery_img {
  height: 360px;
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.gallery_img:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery_img:hover:after {
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.gallery_img:hover .gellery__text span {
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.3s ease 0.2s;
  -moz-transition: 0.3s ease 0.2s;
  -o-transition: 0.3s ease 0.2s;
  transition: 0.3s ease 0.2s;
}

.gallery_img:hover .gellery__text h3 {
  padding-top: 5px;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .gallery_img:hover .gellery__text h3 {
      font-size: 24px;
  }
}

.gellery__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  padding: 0 30px;
  z-index: 3;
}

.gellery__text span {
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  bottom: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gellery__text h3 {
  position: relative;
  color: #fff;
  bottom: 40px;
  text-transform: uppercase;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s ease 0.2s;
  -moz-transition: 0.3s ease 0.2s;
  -o-transition: 0.3s ease 0.2s;
  transition: 0.3s ease 0.2s;
}

.gird__loading {
  text-align: center;
  font-size: 24px;
  color: #111111;
  padding: 45px 0 95px;
}

/* album section*/
.albums__section {
  padding: 0 74px;
}
.albums__section .albam__grid {
  padding-left: 25px;
  padding-right: 25px;
}
.albums__section .albam_row {
  margin-left: -25px;
  margin-right: -25px;
}
album__item {
  margin-bottom: 40px;
}

.album__thumb {
  height: 360px;
  margin-bottom: 20px;
}

.album__link {
  text-transform: uppercase;
  font-family: "Aldrich", sans-serif;
  font-size: 22px;
  color: #111111;
  position: relative;
  display: inline-block;
  padding: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.album__link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 6px;
  left: 0;
  bottom: 8px;
  background: #0ECE91;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.album__link:hover {
  color: #111111;
  padding: 0 8px;
}

.album__link:hover:after {
  width: 100%;
}



/*--------------
      albums-details
--------------*/



.album__slider {
  margin-bottom: 20px;
  overflow: hidden;
}

.album__slider .owl-nav button.owl-prev,
.album__slider .owl-nav button.owl-next {
  position: absolute;
  left: 40px;
  top: calc(50% - 23px);
  width: 46px;
  height: 46px;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.album__slider .owl-nav button.owl-prev:hover,
.album__slider .owl-nav button.owl-next:hover {
  color: #111111;
  background: #fff;
}

.album__slider .owl-nav button.owl-next {
  left: auto;
  right: 40px;
}

.album__slide {
  height: 800px;
  position: relative;
}

.album__slide__text {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 0;
}

.album__slide__text .slide__cata {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.album__slide__text h2 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .album__slide__text h2 {
      font-size: 34px;
  }
}

.album_thumb_slider {
  margin-bottom: 20px;
}

.album_thumb_slider .current {
  position: relative;
}

.album_thumb_slider .current::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 5px solid #0ECE91;
}

.album__slide_thumb {
  cursor: pointer;
}

/*
***************
company jobcss
**************
*/



.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}
:root {
  --geeks-body-bg: #f1f5f9;
  --geeks-body-color: #64748b;
  --geeks-headings-color: #1e293b;
  --geeks-navbar-vertical-bg: #fff;
  --geeks-navbar-bg: #fff;
  --geeks-card-background: #fff;
  --geeks-input-bg: #fff;
  --geeks-input-disabled-bg: #e2e8f0;
  --geeks-input-focus-border: #baa7ff;
  --geeks-input-border: #cbd5e1;
  --geeks-input-placeholder-color: #64748b;
  --geeks-input-focus-box-shadow: 0px 0px 0px 3px rgba(231, 225, 253, .75);
  --geeks-input-check-border: var(--geeks-input-border);
  --geeks-input-group-addon-bg: #e2e8f0;
  --geeks-form-text-color: #94a3b8;
  --geeks-form-label-color: #334155;
  --geeks-border-color: #e2e8f0;
  --geeks-dropdown-background: #fff;
  --geeks-dropdown-link-color: #0f172a;
  --geeks-dropdown-link-hover-color: #0e1526;
  --geeks-dropdown-link-hover-bg: #f1f5f9;
  --geeks-dropdown-border-width: 0px;
  --geeks-dropdown-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
  --geeks-modal-bg: #f1f5f9;
  --geeks-progress-background: #cbd5e1;
  --geeks-btn-ghost-bg: #cbd5e1;
  --geeks-tagify-border-color: #cbd5e1;
  --geeks-navbar-vertical-bg: #1e293b;
  --geeks-navbar-vertical-link: #94a3b8;
  --geeks-navbar-vertical-link-hover: #cbd5e1;
}
:root {
  --geeks-blue: #0d6efd;
  --geeks-indigo: #6610f2;
  --geeks-purple: #6f42c1;
  --geeks-pink: #d63384;
  --geeks-red: #dc3545;
  --geeks-orange: #fd7e14;
  --geeks-yellow: #ffc107;
  --geeks-green: #198754;
  --geeks-teal: #20c997;
  --geeks-cyan: #0dcaf0;
  --geeks-black: #000;
  --geeks-gray: #475569;
  --geeks-gray-dark: #1e293b;
  --geeks-gray-black: #000;
  --geeks-gray-100: #f1f5f9;
  --geeks-gray-200: #e2e8f0;
  --geeks-gray-300: #cbd5e1;
  --geeks-gray-400: #94a3b8;
  --geeks-gray-500: #64748b;
  --geeks-gray-600: #475569;
  --geeks-gray-700: #334155;
  --geeks-gray-800: #1e293b;
  --geeks-gray-900: #0f172a;
  --geeks-gray-1000: #0b1324;
  --geeks-gray-white: #fff;
  --geeks-primary: #754ffe;
  --geeks-secondary: #64748b;
  --geeks-success: #38a169;
  --geeks-info: #0ea5e9;
  --geeks-warning: #f59e0b;
  --geeks-danger: #dc2626;
  --geeks-light: #f1f5f9;
  --geeks-dark: #0f172a;
  --geeks-white: #fff;
  --geeks-light-primary: #ede9fe;
  --geeks-light-danger: #fad9d8;
  --geeks-light-info: #e1f6ff;
  --geeks-light-warning: #ffeeda;
  --geeks-light-secondary: #e4e3e9;
  --geeks-light-success: #d1f5ea;
  --geeks-light-dark: #d1cfd8;
  --geeks-dark-primary: #593cc1;
  --geeks-dark-warning: #c28135;
  --geeks-dark-info: #51a0c2;
  --geeks-dark-danger: #ae302e;
  --geeks-dark-success: #139a74;
  --geeks-dark-secondary: #5c596d;
  --geeks-primary-rgb: 117, 79, 254;
  --geeks-secondary-rgb: 100, 116, 139;
  --geeks-success-rgb: 56, 161, 105;
}

.nav {
  --geeks-nav-link-padding-x: 1rem;
  --geeks-nav-link-padding-y: 0.5rem;
  --geeks-nav-link-font-weight: ;
  --geeks-nav-link-color: var(--geeks-link-color);
  --geeks-nav-link-hover-color: var(--geeks-link-hover-color);
  --geeks-nav-link-disabled-color: #475569;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}


.nav-line-bottom {
    border-bottom: 1px solid var(--geeks-border-color);
}

.cpli {
  display: list-item;
 
}
.nav-link {
  color: var(--geeks-nav-link-color);
  display: block;
  font-size: var(--geeks-nav-link-font-size);
  font-weight: var(--geeks-nav-link-font-weight);
  padding: var(--geeks-nav-link-padding-y) var(--geeks-nav-link-padding-x);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.companyjobheads {
  color: var(--geeks-headings-color);
  font-family: Inter, "sans-serif";
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  margin-top: 0
}
.nav-line-bottom .nav-item .nav-link.active {
  background-color: transparent;
  border-bottom: 1px solid var(--geeks-primary);
  color: var(--geeks-primary);
}
.nav-line-bottom .nav-item .nav-link {
  border-radius: 0;
  color: var(--geeks-gray-600);
  font-weight: 500;
  margin-bottom: -1px;
  padding: 1.2rem;
  white-space: nowrap;
}
.text-inherit {
  color: var(--geeks-gray-800);
}

/*
*********
Review
********/

.rowrev {
  --geeks-gutter-x: 1.5rem;
  --geeks-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--geeks-gutter-x)*-.5);
  margin-right: calc(var(--geeks-gutter-x)*-.5);
  margin-top: calc(var(--geeks-gutter-y)*-1);
}
.text-warning {
  --geeks-text-opacity: 1;
  color: rgba(var(--geeks-warning-rgb),var(--geeks-text-opacity))!important;
}
.mrg {
  margin-top: 2.5rem!important;
}

.bg-warning {
  --geeks-bg-opacity: 1;
  background-color: #f59e0b!important;
}


.text-warning {
  --geeks-text-opacity: 1;
  color: rgba(var(--geeks-warning-rgb),var(--geeks-text-opacity))!important;
}



.par {
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.avatar-lg {
  height: 3.5rem;
  width: 3.5rem;
}
.headrev {
  color: var(--geeks-heading-color,inherit);
  font-family: Inter,"sans-serif";
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/*
*********
Event
*********
*/
.avatar-sm {
  height: 2rem;
  width: 2rem;
}

.headevent {
    color: var(--geeks-heading-color,inherit);
    font-family: Inter,"sans-serif";
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 0;

    font-size: 1.17em;
    
}
/*
******
Single-Event
*******
*/
.avatar-md {
  height: 2.5rem;
  width: 2.5rem;
}